
/*loader*/
/* Full-page loader overlay */

:root {
  --primary-color: #04db8d;
  --secondary-color: #455862;
  --border-color: #e0e0e0;
  --text-color: #0b2431;
  --placeholder-color: #999;
  --active-color: #04db8d;
  --error-color: #d32f2f;
  --background-color: #ffffff;
  /*tab background color: #f8f8f8*/
}

* {
  font-family: 'Satoshi', sans-serif;
}
body {

}
#pageLoaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.page-loader {
  border: 5px solid var(--text-color);
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.detalle-cuenta{
  display: flex; 
  justify-content: space-between;
}

.button-impacto {
  background-color: var(--text-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 2%;
  font-size: 14px;
  text-decoration: none;
}

.button-impacto:hover {
  background-color: var(--secondary-color); /* Darker blue on hover */
}


.change-subscription {
  background-color: var(--text-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 2%;
  font-size: 14px;
  text-decoration: none;;
}
.change-subscription:hover {
  background-color: var(--primary-color);
}

  /* Container for the filters */
  #Filtrar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    border: 2px solid var(--text-color); /* Border around the Filtrar element */
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: white;
}

/*Rama juridica*/
/* Example extension for the new Ramas dropdown */

#subRamasCheckboxContainer{
  font-size: 13px;
}

.rama-juridica-values{
  margin-bottom: 7px;
  margin-top: 7px;
  padding: 5px 0px;
}

/* Tag styling with consistent properties across all types */
.etiquetas-personalizadas-values,
.etiquetas-values span,
.rama-value {
  display: inline-flex;
  align-items: center;
  border-radius: 9999px; /* Full rounded corners */
  font-size: 0.875rem; /* Bigger font size from 0.75rem */
  line-height: 1.25rem; /* Adjusted line height */
  font-weight: 500;
  transition: all 0.2s ease;
}


/* Style for etiquetas-values span */
.etiquetas-values span {
  background-color: rgba(69, 88, 98, 0.1); /* Secondary color with transparency */
  --tw-text-opacity: 1;
  color: rgb(69 88 98 / var(--tw-text-opacity)); /* Secondary color text */
  padding: 3px 10px;
}

/* Style for rama-value */
.rama-value {
  background-color: rgba(4, 219, 141, 0.1); /* #04db8d1a */
  --tw-text-opacity: 1;
  color: rgb(4 219 141 / var(--tw-text-opacity));
}

/* Optional: Add a close or remove button style if needed */
.tag-close {
  margin-left: 6px;
  cursor: pointer;
  opacity: 0.7;
}

.tag-close:hover {
  opacity: 1;
}


.sub-rama-juridica-values{
  margin-top: 7px;
  padding:5px;
}

.sub-rama-value{
  padding:5px 5px;
  color: var(--primary-color);
}

/* Flex children - Industria and Boletin Oficial */
.filter-item {
    flex:1;
    margin-left: 2%;
    /*text-align: center; */
}

.header-row {
  display: flex;
  justify-content: space-between; /* Space between the id and date */
  align-items: center; /* Vertically align items in the center */
  margin-bottom: 10px; /* Add some space below the row if needed */
}

.date{
  margin-bottom: 4%;
  margin-left: 15px;
}

/*Charts*/

.chart {
  border-radius: 10px;;
}

#chartContainer {
  height: 40vh; /* Adjust height to 50% of the viewport height */
  width: 100%; /* Full width */
  display: flex;
}

#documentsChart {
  width: 100%;
  height: 100%;
}

/*date*/
.date-filter {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements */
  margin-top: 10px;
}

.date-filter label {
  font-size: 14px;
  margin-right: 5px;
}

.date-filter input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/*no results*/

.no-results {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  color: #666;
  font-weight: bold;
}


/*fonts*/
@font-face {
  font-family: 'Azonix';
  src: url('../assets/fonts/Azonix.woff2') format('woff2'),
       url('../assets/fonts/Azonix.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  /*font-family: Arial, sans-serif; */
  font-family: 'Candara', sans-serif;
  background-color: var(--background-color);
  overflow-x:hidden;
  margin: 2%;
  color:var(--text-color);
}

h1 {
  color: var(--text-color);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}

.analytics-label {
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 1%;
  font-weight: 800;
  margin-top: 3%;
}

a {
  color:var(--text-color);
}
.leer-mas {
  color:var(--primary-color);
}
.margin-impacto {
  margin-bottom: 1%;
}
/*loading icon*/
.loader{
  margin-left: 45%;
  margin-top: 15%;
  margin-bottom: 30%;
  border: 4px solid var(--text-color); /* Light grey */
  border-top: 4px solid var(--primary-color); /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

#loading-icon-chart {
  width:300px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#buscarBtn {
  cursor: pointer;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 10px;
  text-align: right;
  font-family: 'Azonix', sans-serif;
  border: none;
  background-color: var(--primary-color);
  padding: 3px 20px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
}

/*container section*/

#data-container {
  /*margin-top: 20px; */
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-top: 20px;
  
  /*background-color: #f0f0f0; */
 /* border: 1px solid var(--primary-color); */
  border-radius: 8px;
}

.data-item {
  margin-bottom: 15px;
  padding: 2vw;
 /* background-color: #ffffff; */
  border: 1px solid var(--text-color);
  border-radius: 10px;
  background-color: white;
}


/*Id section*/

.id-values {
  font-size: 30px;
  font-weight: 600;
  /*text-align: center; */
  font-family: Arial, sans-serif;
}

/*Etiquetas Section*/

.etiquetas-label {
  margin-right: 10px; /* Add some space between the label and the values */
  font-size: 20px;
  margin-bottom: 3%;
 font-weight:800;
}


.etiquetas-values {
  display: flex;
  flex-wrap: wrap; /*Wrap values if they don't fit in a single row */
}


.etiquetas-values .selectedValue {
  background-color: var(--primary-color);
  border: none; /* White border */
  border-radius: 4px;
}

/*Resumen Section*/
.resumen-content {
  text-align: justify;
  hyphens: auto;
  margin-bottom: 10px
  /*margin-left: 2%;
  margin-right: 2%;
  */
}

.resumen-label {
  font-size: 20px;
  margin-bottom: 1%;
  font-weight: 800;
}

/*Logout*/

/* Style for the Logout link */
a[href="/logout"] {
  display: inline-block;
  margin: 20px auto; /* Center horizontally */
  text-align: center;
  text-decoration: none;
  background-color: #ff4d4d; /* Red logout button */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensures it behaves within its container */
}

/* Container to center the link vertically and horizontally */
.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover effect */
a[href="/logout"]:hover {
  background-color: #d43f3f; /* Slightly darker red on hover */
  transform: translateY(-2px); /* Lift effect on hover */
}
